**DATA TYPES**

- In python we have many data types are there
    - Integer
    - float
    - string
    - boolean
- Integer
    - In python no need to mention a data type like c
    - It will consider the datatype automatically

In [ ]:
number=100

# in order check the type of variable we will use

# In built function calles as type

In [2]:
number=100
type(number)

int

In [3]:
type(100)

int

- In maths has we have different types of representations available
- The following Number systems are:
    - Binary
    - Octa
    - Decimal
    - Hexa
- binary
    - binary has bi which indicates two
    - we have 0 to 9 digits to represent any number
    - from there we take only first two digits i.e. 0 to 1
    - Example:0b101,0B0001
    - wrong representations is:0b002, 1b001

In [4]:
num=0b001
num

1

In [5]:
0b1111

15

4  2  1  num
0  0  0  0
0  0  1  1
0  1  0  2
0  1  1  3
1  0  0  4
1  0  1  5
1  1  0  6   # 0b110=6
1  1  1  7   # 0b111=7

**Octa**

- Octa means 8
- we have total 0 to 9 digits to represent any number:0,1,2,3,4,5,6,7,8,9
- from there we will only starting 8 digits i.e.0 to 7
- Example: 0o123,0O567,0o10006
- wrong representations is: 0o786 because 7,6 but 8

In [7]:
0o786

SyntaxError: invalid digit '8' in octal literal (3171049937.py, line 1)

- A good develop will understand the error easily
- almost we will get 20 types
- we will focus both on output as well as errors

In [3]:
0o123

83

In [9]:
0O456

302

**Hexa**

- hexa means 16
- we have total 0 to 9 digits to represent any number :0,1,2,3,4,5,6,7,8,9
- after 9 we will use A to F:A=10,B=11,C=12,D=13,E=14,f=15
- Example: 0x123,0XAB,0x9ad
- wrong representation:0xFGH

In [10]:
0xabc

2748

In [11]:
0xab9

2745

In [12]:
0Xb52

2898

**FLOAt**

In [13]:
num=10.5
num

10.5

In [14]:
type(num)

float

In [7]:
print(type(10))
print(type(10.5))

<class 'int'>
<class 'float'>

In [11]:
print(type(10)),print(type(10.5))

<class 'int'>
<class 'float'>

(None, None)

In [16]:
10e1   # 10* <10>=100
10e2   # 10* <100>=1000 same as below
10e3
10e4

100000.0

In [17]:
10
20

# in jupyter book by default last value will print

20

In [18]:
# If you want to sell the answers apply print

print(10)
print(20)

10
20

In [19]:
10,20

(10, 20)

In [20]:
print(10e1)
print(10e2)
print(10e3)
print(10e4)
print(10e5)

100.0
1000.0
10000.0
100000.0
1000000.0

In [22]:
10e+1,10e+2,10e+3

(100.0, 1000.0, 10000.0)

In [23]:
10E2

1000.0

In [24]:
10e-1 # 10/<10>=1
10e-2 # 10/<100>=0.1
10e-3 # 10<1000>=0.01

0.01

In [25]:
print(10e-1)
print(10e-2)
print(10e-3)

1.0
0.1
0.01

- In the machine learning we often see the values in exponential format
- In some cases we need to search for zero value
- In ML with Python we rarely see exact an answer 0.0
- instead of 0.0 it will display as 1.2345e-17

In [26]:
7.74619736e-4

0.000774619736

In [ ]:
1

In [ ]:
1.2345e-17  # 17 zeros in the denominator
1.2345/100000000000000000000000000000000=0.0000000000000000000000012345

**Strings**

- strings represent english characters generally
- strings will represent with quotes
    - Single quotes
    - Double quotes
    - Triple quotes

In [2]:
str1='python' # single quotes
str1

'python'

In [3]:
type(str1)

str

In [4]:
str2="python" # Double quotes
str2

'python'

- we can represent in any way but python will give in single quotes

In [5]:
print(str1)
print(str2)

python
python

- when we apply print on string,It will display without quotes

In [7]:
str3='abc123'
type(str3)

str

In [8]:
type('10'),type('10.5'),type('123'),type('apple')

(str, str, str, str)

In [12]:
a=10
str(a)

'10'

In [13]:
b=10.34
str(b)

'10.34'

In [14]:
c=True
str(c)

'True'

In [15]:
d='a'
int(d)# strings cannot be converted as intgers

ValueError: invalid literal for int() with base 10: 'a'

In [18]:
string='abc'
float(string)

ValueError: could not convert string to float: 'abc'

In [17]:
string1="abc"
bool(string1)

True

- any data type or any value is provided by quotes means
- It becomes a string only
- String always in Red color 
- Variables always in black color
- keywords or numbers always in Green color

In [9]:
str1="I like 'python'"
print(str1)

I like 'python'

In [11]:
str1='I like "python"'
print(str1)

I like "python"

In [12]:
str1="I like "python" "
print(str1)   # dont give like this

SyntaxError: invalid syntax (3362287590.py, line 1)

In [22]:
str1='''I like "python" '''
print(str1)

I like "python"

- If you want to highlite any word
- represent entire string in single quotes,hightlited word in double quotes vice versa

In [13]:
str1='hai
     how are you
     im good'

SyntaxError: unterminated string literal (detected at line 1) (3388682316.py, line 1)

In [ ]:
str1="hai
     how are you
     im good"

In [23]:
str1="""hai
    how are you
    im good"""
str1

'hai\n    how are you\n    im good'

In [15]:
print(str1)

hai
    how are you
    im good

In [28]:
str1='''    hai
    how are you
    im good'''
print(str1)

    hai
    how are you
    im good

In [ ]:
str1='"hai
    how are you
    im good'"
str1

- triple quotes is used for write a multiline comments
                       
- This is called as **Docstring**
                       
- In order to write a story in jupyter notebook we have a markdown

- But other platforms like VScode ,pycharm we dont have a markdown

- then how can we write a story : By using Triple quotes 

- If any person writing some thing using triple quotes,which incdicates

    the user is string to convey the information

- This is process called as DocString


**Boolean**

- computer takes the values in Binary Format(1,0)
- computer gives the ansswer in Boolean format
    - True
    - False
- True indicates 1
- False indicates 0

In [16]:
val=True
type(val)

bool

In [17]:
val2=False
type(val2)

bool

In [18]:
true='True'
TRUE=True
true,TRUE

('True', True)

In [19]:
type(true),type(TRUE)

(str, bool)

In [20]:
a=10
b=10.5
c='10'
d=True
print(a,b,c,d)

10 10.5 10 True

In [29]:
bool(float(10))   # first excuted inner bracket

True

In [ ]:

- 1 feet=12 inches
- 1 inch=2.54cm

- for example 5 feet 5 inches
- 5*12=60inches
- 60+5=65inches
- 65*2.54cm=165.1cm
- convert cm to meters
- 1cm=0.01m
- 1.65cm*0.01m=1.651m

In [32]:
height=int(input("enter your height in cm:"))
weight=int(input("enter your weight:"))
BMI=weight/((height*0.01)**2)
if BMI<18.5:
    print("Underweight")
elif 18.5<=BMI <25:
    print("Normal Weight")
elif 25<=BMI <30:
    print("Over Weight")
elif BMI>30:
    print("Obesity")
print(BMI)

enter your height in cm: 152
enter your weight: 50

Normal Weight
21.641274238227147

In [34]:
a=input()
if (a=="F"):
    Feet=int(input("Enter your feet:"))
    inches=int(input("Enter your inches:"))
    Feet=Feet*12
    height=Feet+inches
    Height=(height*2.54)*0.01
    print(Height)
elif(a=="M"):
    Height=float(input("enter your height in meters:"))
weight=int(input("enter your weight:"))
BMI=weight/((Height)**2)
if BMI<18.5:
    print("Underweight")
elif 18.5<=BMI <25:
    print("Normal Weight")
elif 25<=BMI <30:
    print("Over Weight")
elif BMI>30:
    print("Obesity")
    
print(BMI)

 M
enter your height in meters: 500
enter your weight: 50

Underweight
0.0002

In [30]:
phone_number=input("enter phone number")
total_sum=0
index=0
while(index<len(phone_number)):
    char=phone_number[index]
    if char.isdigit():
        total_sum+=int(char)
    index+=1 

a=str(total_sum)
sum1=0
index1=0
while(index1<len(a)):
    char1=a[index1]
    if char1.isdigit():
        sum1=sum1+int(char1)
    index1=index1+1

b=str(sum1)
sum2=0
index2=0
while(index2<len(b)):
    char2=b[index2]
    if char2.isdigit():
        sum2+=int(char2)
    index2+=1
print(sum2)

enter phone number 06281958598

7

In [31]:

phone_number=input("enter phone number")
total_sum=0
index=0
while(index<len(phone_number)):
    char=phone_number[index]
    if char.isdigit():
        total_sum+=int(char)
    index+=1 
sum=0

enter phone number 6279875432