In [ ]:
a=10
a    #to run this code press shift+enter at a time(OR)To click the run button

In [ ]:
b=20
b

In [ ]:
c=30
c

In [1]:
d=40
d

40

In [3]:
print(10//3)

3

In [ ]:
a+b+c+d

In [1]:
for i in range (10):
    print(i)
#if kernel is busy or die don't give extra work_restart the kernel

0
1
2
3
4
5
6
7
8
9

In [1]:
a=10
a

10

# hello python

- we are getting error because it is in code mode
- code mode cells always have square brackets
- if we want to write story we need to change code mode to  markdown mode
- im successfully able to change markdown mode
- code mode to markdown : esc+m
- markdown to code:esc+y

In [ ]:
# python

In [ ]:
## python

In [ ]:
### python

In [ ]:
#### python

In [ ]:
##### python

In [ ]:
###### pyhton

- ash symbol can use code mode as a comment

- ash symbol can use in markdown mode as a header

**how to insert the image**

In [ ]:
ctrl+a
ctrl+c
ctrl+v
esc+m
shift+enter

<img src="https://th.bing.com/th/id/OIP.oaix4lX1mRoPxN1AfZ470AAAAA?rs=1&amp;pid=ImgDetMain" alt="The Impact of Artificial Intelligence (AI) on Business | IT Chronicles" class=" nofocus" tabindex="0" aria-label="The Impact of Artificial Intelligence (AI) on Business | IT Chronicles" role="button" width="250" height="200">

<img src="https://itchronicles.com/wp-content/uploads/2020/11/where-is-ai-used.jpg" width=400 height=400>
#  convert code mode to markdown mode

In [2]:
import os 
os.getcwd()

'C:\\Users\\keert\\Documents\\Data Science\\Python'

**VARIABLES**

- Variables are used to store the values
- Variables can be change their values
- varyyy:Varying

In [1]:
number=100
number
# 100 is storing in a variable called number

100

In [2]:
number=200
number

200

In [3]:
123number123=500
123number

# Variables does not have numbers as prefix
# Variables should not start with numbers

SyntaxError: invalid decimal literal (2583594693.py, line 1)

In [4]:
Number*one=500
Number*one

# Variables does not have special characters

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2320124088.py, line 1)

In [5]:
number_one=600
number_one

# Variables can have underscores

600

In [6]:
_=900

# only underscore can represent as variables
Apple=900
print(Apple)

900

**RULES OF VARIABLES**

- Variables are case sensitive

- Variables can represent as capital letters

- Variables can represent as Small Letters

- Variables can have both combinations

- Pyhton will consider latest value

- Variables does not start with numbers

- Variables can have numbers at last

- Variables does not contain any special character ,except underscore

- Varibles does not contain any space between the letters:- Ex:number one

- Only underscore can use as variable

- keywords or reserved words will not use as varibles:if,else

In [7]:
number_123_two=900
number_123_two

900